// $darkgray:#272932;
$colorPrimary1: #66f6ff;
$colorPrimary2: #35bbd1;
$colorPrimary3: #b7e2ec;
$colorPrimary4: #cbf3f6;
$bodyColorPrimary: #272932;
$bodyDark: #000;
$white: #fff;
$lightBlue: #effcfe;
$starting: #4ebac6;
$lightGray: #ddd;
$lightGray1: #8b8fa9;
$lightGray2: #daf0f4;
$lightGray3: #f3f3f3;
$lightGray4: #fbfbfb;
$lightGray5: #748489;
$lightGray6: #474a5b;
$lightGray8: #adcbd0;
$lightGrayseven: #939aa9;
$musturd: #ffba00;
$red: #ed1455;
$actualPrice: #9ab7bc;
$green: #4abd22;
$green2: #b9ff25;
$progress: #d6e9ed;
$lightRed: #ffe3e8;
$darkRed: #ed1455;
$seller: #e1ffa1;
$coolGray: #8b8fa9;
$uniqueGray: #c9c9c9;
$whiteIce : #D1E7DD;
$jetStream : #BADBCC;

$resultGreenBorder1: #1e4c0e;
$solitude: #EDF0F5;
$linkWater : #C8CEDB;
$saltPan : #F6FEE5;
$laPalma : #3B971B;
$gainsboro : #E1E1E1;
$darkTurquoise : #00BFD5;
$whiteSmoke : #F5F5F5;
$silver : #C0C0C0;
$Gray60: #999999;
$mediumRed: #ff5f5f;
$darkGray: #a8a8a8;
$darkPurple: #c488f2;
$purple: #ebd2ff;
$oasis: #fbedbd;
$dandelion: #ffdc5f;
$mintGreen: #caf9ae;
$aliceBlue: #f5f6f7;
$nightRider: #323232;
$submarine: #84999c;
$blueBell: #9597ca;

$resultGreenBorder1: #1e4c0e;
$Gray60: #999999;
$mediumRed: #ff5f5f;

$amaranth: #d92e4b;
$scandal: #b3dcd8;
//new Added
$blueZodiac : #474A5B;
$comet: #6C6C71;
$ghost: #C9C9CD;
$blackRussian: #010103;
$resolutionBlue : #2B3676;
$lightSkyBlue : #85CCF2;
$navyBlue : #006CCE;
$pictonBlue : #65A3C5;
$pattensBlue : #CCE4FF;
$aliceBlue : #F8FBFF;
$hawkesBlue : #C5DDF8;
$wePeep : #FFD8DB;
$seashell : #FFFCF9;
$pippin : #FFDCD4;
$kellyGreen : #4ABD22;
$gainsboro : #DBDBDB;
$salmon : #FF7B73;
$lavender: #EAEBF1;
$tropicalRainForest : #007359;
$grey : #7D7D7D;
$nightRider : #2E2E2E;
$azure : #E9FDFF;
$gainsboro: #DEDEDE;
$caribbeanGreen : #00D994;
$dodgerBlue : #009DF1;
$violetRed : #F14377;
$bilbao : #2C7114;


$phones: 480px;
$surfaceDuo: 540px;
// $ipad:1024px;
$layout-spacing: 100px;
$medium-device: 1600px;
//$LaptopLarge:1440px;
$ipad-device: 1024px;
$ipad768-device: 768px;
$ipadPro-device: 1370px;
$iPadAir: 820px;
$solitude: #EDF0F5;
$linkWater : #C8CEDB;
$saltPan : #F6FEE5;
$laPalma : #3B971B;
$gainsboro : #E1E1E1;
$darkTurquoise : #00BFD5;
$whiteSmoke : #F5F5F5;
$silver : #C0C0C0;
$miniDesktop : 1366px;

$amaranth: #d92e4b;
$scandal: #b3dcd8;

// new added
$quartz: #d2d2dc;
$prim: #d3d1d2;
$cornSilk : #FFFAE5;
$snowFlurry : #EDFFC7;
$linkWater : #C8CEDB;
$azure : #F6FEFF;



$color-primary: rgb(82, 63, 63);
$color-secondary: #e4e4e4;
$color-active: #ffffff;
$color-circle: #bbbbbb;
$text-color: #100452;
$dashBoard-background: #c5c5c5;


// $src_path:"../images";
$src_path: "../../public/images";
$src_path_sub: "../../../public/images";