.container {
  display: flex;
  gap: 24px;
  padding: 24px;
  /* background: #f8f8f8; */
  border-radius: 12px;
  max-width: 80vw;
  margin: auto;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); */
}

/* LEFT SECTION */
.messageSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.messageWrapper {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.heading {
  font-size: 1.1rem;
  margin-bottom: 8px;
  font-weight: 600;
}

.textArea {
  width: 100%;
  /* height: 100px; */
  /* resize: none; */
  min-height: 60px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 10px;
}

.sendButton {
  padding: 8px 16px;
  background: #1d4ed8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  float: inline-end;
}
.sendButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.prevMessages {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.subHeading {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.prevBubble {
  height: 40px;
  background: #ddd;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* RIGHT SECTION */
.contactSection {
  width: 260px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
}

.importButton {
  padding: 8px 14px;
  border: none;
  background: #1d4ed8;
  color: white;
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.tab {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.active {
  background: black;
  color: white;
  border-color: black;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
}